.project-nav-module{


  background-color: white;
  padding:5rem 0 5rem 0;

  @include media-breakpoint-up(md) {
        padding:8rem 0 8rem 0;

   }
  @include media-breakpoint-up(lg) {
        padding:10rem 0 12rem 0;


  }

  @include media-breakpoint-up(lg) {



  }

  a{
    text-decoration: none;
    color: black;
    transition: color 500ms;
  }

  a:hover{
    text-decoration: none;
    color: $color-link;
  }


  h3{


    padding-top: 1.5rem;
    font-size: 2rem;
    
      width:100%;
    @include media-breakpoint-up(md) {

        padding-top: 2.5rem;
     }
    @include media-breakpoint-up(lg) {

      padding-top: 2.5rem;

    }

    @include media-breakpoint-up(lg) {

      padding-top: 3.5rem;
      width:80%;

    }

  }
  .project_tile{

    padding-left: 0.9rem;
    padding-right: 0.9rem;



  .thumbnail_image{

    width:100%;



    margin:0;
    padding: 0;
    padding-top: 77.5%;
    position: relative;


    .thumbnail_source{
      position: absolute;

      top:0;
      left:0;
      bottom: 0;
      right: 0;
      background-size:cover;
      background-position:"center center";
      background-repeat:no-repeat;
    }




  }

}
}
