
.highlight-government{

  background-color: rgba(107,154,219,.45);



  a{
    color:black;

  }

  a:hover{
    text-decoration: none;
  }

      p{
        border: 0px solid red;
        font-size: 2rem;
        margin: 0;
        padding: 0;

        line-height: 130%;
      a{



          /*border-bottom: 1px solid $body-color;
          color:$body-color;
          text-decoration: none;
          margin-bottom:10px;

          transition: all 300ms;*/

          background-image: linear-gradient(90deg, #fff, #fff);
          background-repeat: no-repeat;
          background-position: 0 15px;
          background-size: 100% 100%;
          color:$body-color;
            transition: background-size 300ms;
              @include media-breakpoint-up(sm) {
                  background-position: 0 18px;
              }
              @include media-breakpoint-up(lg) {

                    background-position: 0 22px;

              }

        }

      a:hover{

      transition-timing-function: ease-in;
          background-size: 0% 100%;
          color:white;
      }



      }
      @include media-breakpoint-up(sm) {
        p{
          font-size: 2.8rem;
          background-image: linear-gradient(90deg, rgba(0,255,255,1), rgba(255,255,255,1));
          background-repeat: no-repeat;
          background-position: 0 35px;
          background-size: 1px 1px;

        }



       }

      @include media-breakpoint-up(md) {
        p{
          font-size: 2.4rem;

        }



       }
      @include media-breakpoint-up(lg) {

                    p{
                      font-size: 3rem;

                    }

       }
      @include media-breakpoint-up(xl) {


       }





}
.image-height{
  border: 0px solid red;
  margin:0;
  padding: 0;
  position: relative;

  .image{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-size:100% auto;
    background-position:"center center";
    background-repeat:no-repeat;
  }
}


.highlight-margin{
  margin:3rem 0 13rem 0;
  padding: 0 !important;

  width: 90%;






  .arrow{
    border:0px solid red !important;
    transition: all 200ms;
    margin-top:3rem;
    font-size: 2rem;
    @include media-breakpoint-up(md) {
        font-size: 3rem;
          margin-top:7rem;
     }



    &:after{
      background-image: url('../imgs/ui/arrow-simple.svg');
      background-size: 100%;
          background-repeat: no-repeat;
          margin-left: 8px;
          width: 18px;
          height:18px;
          background-position: 0 3px;

          display: inline-block;
          content: '';
          transition: margin 200ms;


          @include media-breakpoint-up(md) {
              font-size: 3rem;

              margin-left: 8px;
              width: 22px;
              height:22px;
              background-position: 0 3px;
           }


    }

    &:hover{
      color:white;

      &:after{
        background-image: url('../imgs/ui/arrow-simple-white.svg');
        margin-left: 10px;
        border:0px solid red;
                  @include media-breakpoint-up(md) {
                        margin-left: 14px;
                  }


      }
    }

  }




  .copy{












  }



  @include media-breakpoint-up(sm) {




   }

  @include media-breakpoint-up(md) {

      margin:5rem 0 15rem 0;


   }
  @include media-breakpoint-up(lg) {
        margin:10rem 0 20rem 0;

   }
  @include media-breakpoint-up(xl) {


   }
}
