

.highlight-government{

  background-color: rgba(107,154,219,.45);
  a{
    color:black;

  }

  a:hover{
    text-decoration: none;
  }
  border: 0 solid red;
      p{
        border: 0px solid red;
        font-size: 1.7rem;
        margin: 0;
        padding: 0;

        line-height: 130%;
        a{


          background-image: linear-gradient(90deg, rgba(255,255,255,255.2), rgba(255,255,255,255.2));
          background-repeat: no-repeat;
          background-position: 0 22px;
          background-size: 100% 100%;
          color:$body-color;
          text-decoration: none;
          background-position: right 2.2rem;
          transition: background-size 500ms, color 500ms;

        }

        a:hover{
          text-decoration: none;
          background-size: 0% 100%;
          color: white;
        }



      }
      @include media-breakpoint-up(sm) {
        p{
          font-size: 2.4rem;

        }



       }

      @include media-breakpoint-up(md) {
        p{
          font-size: 2.4rem;

        }



       }
      @include media-breakpoint-up(lg) {

                    p{
                      font-size: 3rem;

                    }

       }
      @include media-breakpoint-up(xl) {


       }





}
.image-height{
  border: 0px solid red;
  margin:0;
  padding: 0;
  position: relative;

  .image{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-size:100% auto;
    background-position:"center center";
    background-repeat:no-repeat;
  }
}
.highlight-margin{
  margin:25rem 0 25rem 0;
  padding: 0 !important;
  border: 0 solid red;
}

.intro-tag{

  font-size: 4rem;
  background-image: url('../imgs/ui/work-filter-underline.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 1.2rem;
  display: inline-block;
  border:0px solid red;
  margin: 0;

  cursor: pointer;
  a{
    text-decoration: none;
    color: black;

  }
}
