/*.video-background {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99;
    border: 1px solid red;
    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0,0,0,0.75)
    }
}*/

.video-youtube{
  top:0;
  width: 100%;
  overflow: hidden;


.player-wrapper {
  position: relative;
  width: 100%;
  
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

}
.video-background{

  background-color: red;
  border: 10px solid red;
  height: 100%;
}




//@media (min-aspect-ratio: 16/9) {
//    .video-background { height: 300%; top: -100%; }
//}
//@media (max-aspect-ratio: 16/9) {
//    .video-background { width: 300%; left: -100%; }
//}




.video{
  color:white;
  position: relative;
  top:0;
  width: 100%;

  background-color: white;
  border:0px solid red;
  overflow: hidden;

  min-height: 640px;

  .video-container{

    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: none;

    @include media-breakpoint-up(md) {
          font-size: 4rem;

          width: 100%;
          display: block;
     }
    @include media-breakpoint-up(lg) {
        font-size: 5rem;

    }


    iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}



  }

  .image-container{

      min-height: 640px;
      display: block;
      @include media-breakpoint-up(md) {

            display: none;
       }

  }

  .embedded-video{

  /*  position: relative;

 top: 50%; left: 50%;
 z-index: 1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, 0);*/

    width: 100%;


    min-height: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover;


  }


  @keyframes glowanimation{
    0%{
        background-color: rgba(255,76,186,0.6);
                filter: blur(150px);
              width:100%;
    }
    50%{
      background-color: rgba(255,217,85,1);
          filter: blur(150px);
        width:50%;


    }
    100%{
        background-color: rgba(107,154,219,0.8);
              filter: blur(150px);
          width:100%;
    }

  }

  .video-glow{
    /*position: absolute;
    width:100%;
    height:250px;
    border-radius: 100px;
    top:-100px;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    filter: blur(100px);

    animation-name: glowanimation;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-blend-mode: multiply;
    display: none;*/


  }

  .home-hero-copy{
    position: absolute;

    bottom:10rem;
    border: 0px solid red;

    font-size: 3.2rem;
    font-family: "Tiempos-Bold";
    line-height: 120%;

    @include media-breakpoint-up(md) {
          font-size: 4rem;

          width: 100%;
     }
    @include media-breakpoint-up(lg) {
        font-size: 5rem;

    }
    @include media-breakpoint-up(xl) {
        font-size: 6rem;
          bottom:15rem;
    }


  }

  .video-home{

    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    width: auto;
    overflow: hidden;


  }




}


.intro-video{
    font-weight: bold;
    font-size: 2.7rem;
    font-family: "Tiempos-Bold";
    line-height: 120%;
    padding: 0 0 2.5rem 0;
    background-position: bottom left;
    transition: all 500ms;
    border:10px solid red;
    color: white;
    padding-top: 55rem;
      border:1px solid red;
    position: relative;




    transition: all 500ms;


    @include media-breakpoint-up(md) {
          font-size: 4rem;
          width: 100%;
     }
    @include media-breakpoint-up(lg) {
        font-size: 5rem;

    }
    @include media-breakpoint-up(xl) {


    }







}
