.dynamic_section{

  border:1px solid red;
  background-color: #fff;
  color: #BCBEC0;

  h3{
      font-size:4rem;
      cursor: pointer;
  }

  .right{
    border:1px solid pink;
  }

  .left{

    border:1px green;
  }

  .procees-content{
    border: 1px solid red;
    color:#58595B;
    font-size: 1.8rem;


  }

  .bottom-path{
      background-image:url('../imgs/ui/process/tomorrow_process_path.svg');
      height: 200px;
      background-repeat: no-repeat;

  }

  .left-arrows{

    border:1px solid red;
    height:200px;
      background-image:url('../imgs/ui/process/arrow_learn.svg');
      background-repeat: no-repeat;
  }
}






.copy-description{
  font-size: 1.8rem;

  @include media-breakpoint-up(sm) {
      font-size: 2.4rem;
  }




}

.svg-description-mobile{

  background-color: white;
  display: block;
  padding:3rem 0 3rem 0;
  @include media-breakpoint-up(sm) {
      display: none;
  }

}
.process{
      padding-top: 53.3%;
      display: none;
      @include media-breakpoint-up(sm) {
          display: block;
      }
}
.effort{
      padding-top: 20%;
      display: none;
      @include media-breakpoint-up(sm) {
            display: block;
      }

}



.mobile{

    padding-top: 200%;
    display: block;
    @include media-breakpoint-up(sm) {
        display: none;
    }
}


.process-description{

  background-color: #fff;
  display: none;

  @include media-breakpoint-up(sm) {
        display: block;
  }


}
.svg-graphic{
     width: 100%;
     height: 0;
     padding-top:77.7%;
     position: relative;

     background-color:#ffffff;





  svg{


    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;

    .line-dots-clockwise{
      stroke-dasharray: 0.1,15;
      animation: dash 10s linear infinite;
      stroke-linecap: round;

    }

    .line-dots-counterclockwise{
      stroke-dasharray: 0.1,15;
      animation: dash-left-to-right 10s linear infinite;
      stroke-linecap: round;
    }


    .line1 {
      stroke-dasharray: 0.1,15;

      animation: dash 10s linear infinite;
      stroke-linecap: round;
    }

    .line2 {
      stroke-dasharray: 0.1,15;
      animation: dash-left-to-right 10s linear infinite;
      stroke-linecap: round;
    }

    @keyframes dash {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 40;
    }
  }

  @keyframes dash-left-to-right {
  from {
    stroke-dashoffset: 40;
  }
  to {
    stroke-dashoffset: 360;
  }
}

  }
}
