




.contact-band{


      background-repeat: repeat-x;
      transition: background-size 500ms;

      @include media-breakpoint-up(md) {


       }
      @include media-breakpoint-up(lg) {



      }
}
.contact-map{

  margin:5rem 0 5rem 0;

  @include media-breakpoint-up(md) {


   }
  @include media-breakpoint-up(lg) {

        margin:10rem 0 10rem 0;

  }
  padding: 0;

}
