.large-title{
    font-weight: bold;
    border: 0px solid red;
    font-size: 2.7rem;
    font-family: "Tiempos-Bold";
    line-height: 120%;
    background-image: url("../imgs/ui/line-black-60-9.svg");
    background-repeat: no-repeat;
    padding: 0 0 4rem 0;
    background-position: bottom left;


    @include media-breakpoint-up(md) {
          font-size: 4rem;
     }
    @include media-breakpoint-up(lg) {
        font-size: 5rem;

    }
    @include media-breakpoint-up(xl) { }

}
