.work-clients{
    font-family: "Akkurat-Light";
    background-color: $color-box;
    border: 0 solid red;
    padding: 100px 0 100px 0;


i{
    background-image: linear-gradient(90deg, #EEEEEC, #EEEEEC);
    background-repeat: no-repeat;
    background-position: 0 2rem;
    color:$body-color;
    text-decoration: none;
    border:0px solid red;
      font-size:3rem;
  }

}
