.intro{
    font-weight: bold;
    font-size: 2.7rem;
    font-family: "Tiempos-Bold";
    line-height: 120%;
    padding: 0 0 2.5rem 0;
    background-position: bottom left;
    transition: font-size 1s;

    border: 0px solid pink;

    @include clearfix;

    p{
      border:0px solid white;
    }
    @include media-breakpoint-up(md) {
          font-size: 4rem;
     }
    @include media-breakpoint-up(lg) {
        font-size: 5rem;

    }
    @include media-breakpoint-up(xl) { }



}
