.projectTile{
  border: 0px solid red;


  h4{
    font-family: "Akkurat-Bold";
    font-size: 1.6rem;
    margin: 3rem 0 1.6rem 0;
  }

  h2{
    font-size: 3rem;
    margin:0 0 0 0;
    padding: 0;
      border: 0px solid red;
      a{

        background-image: linear-gradient(90deg, #ff5e62, #F9D423);
        background-image: linear-gradient(90deg, #fff, #fff);
        background-repeat: no-repeat;
        background-position: 0 19px;
        background-size: 0% 100%;
        color:$body-color;
        text-decoration: none;
        border:0px solid red;
        transition: background-size 500ms;

      }

      a:hover{
        transition: background-size 500ms;
        transition-timing-function: ease-in;
            background-size: 100% 100%;

      }
  }
  a{
    text-decoration: none;
    color: black;
  }


div{
  border: 0px solid red;

}

.image-tile{
  border: 0px solid red;
  transition: all 500ms;
  margin:0;
  padding: 0;
  position: relative;
  transition-delay: all 1s;
    overflow: hidden;

  .image{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;

    transition: all 500ms;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

  }
}



}
