.projectTile{

  img{
    width: 100%;
  }

  h4{
    font-family: "Akkurat-Bold";
    font-size: 1.6rem;
    margin: 3rem 0 1.6rem 0;
  }

  h2{
    font-size: 3rem;
    margin:0 0 34rem 0;
  }
  a{
    text-decoration: none;
    color: black;
  }


div{
  border: 0px solid red;

}

.image-tile{
  border: 0px solid red;
  margin:0;
  padding: 0;
  position: relative;


  .image{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;


    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

  }
}



}
