.projectTile{



  h4{
    font-family: "Akkurat-Bold";
    font-size: 1.2rem;
    margin: 2.4rem 0 1.4rem 0;


        @include media-breakpoint-up(md) {
              margin: 3rem 0 1.6rem 0;
              font-size: 1.6rem;

         }
        @include media-breakpoint-up(lg) {
              margin: 3rem 0 2rem 0;

        }
  }

  h2{

    margin:0 0 0 0;

    border: 0px solid green;
    font-size: 2.4rem;
      width:90%;
      padding: 0 0 4rem 0;
    @include media-breakpoint-up(md) {
          width:80%;

     }
    @include media-breakpoint-up(lg) {
        font-size: 3rem;
          padding: 0 0 6rem 0;

    }


      i{


        background-image: linear-gradient(90deg, #fff, #fff);
        background-repeat: no-repeat;
        background-position: 0 19px;
        background-size: 0% 100%;
        color:$body-color;
        text-decoration: none;

        transition: background-size 500ms;

      }

      a:hover{
        transition: background-size 500ms;
        transition-timing-function: ease-in;
            background-size: 100% 100%;

      }
  }
  a{
    text-decoration: none;
    color: black;
  }




.image-tile{

  transition: all 500ms;
  margin:0;
  padding: 0;
  position: relative;
  transition-delay: all 1s;
  overflow: hidden;

  margin-right: 0;



  @include media-breakpoint-up(md) {


   }
  @include media-breakpoint-up(lg) {


  }
  @include media-breakpoint-up(xl) {


  }

  .image{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;

    transition: all 500ms;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

  }
}

.image-tile-right{


      margin-right: 0;
      @include media-breakpoint-up(md) {


              margin-left: 1.4rem;
              margin-top: 70px;
       }
      @include media-breakpoint-up(lg) {


      }
      @include media-breakpoint-up(xl) {
            margin-top: 200px;

      }


}

.image-tile-left{


      margin-right: 0;
      @include media-breakpoint-up(md) {


              margin-right: 1.4rem;

       }
      @include media-breakpoint-up(lg) {


      }
      @include media-breakpoint-up(xl) {


      }


}


.image-tile-large{

  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {

      margin-bottom: 3rem;


   }
  @include media-breakpoint-up(lg) {

        margin-bottom: 15rem;
  }
  @include media-breakpoint-up(xl) {


  }

}


}
