.tags{
  border: 0px solid red;
  margin:0 0 6rem 0;

  .tag{
    font-size: 3rem;
    cursor: pointer;
  }
}


.tag{
  font-size: 4rem;
  cursor: pointer;


}


.selected {
  color: black;
  cursor: default !important;
  border: 0px solid green;
}
