.tags{

  margin:0 0 6rem 0;
  .tag{
    font-size: 2.4rem;

    line-height: 1.3;
    cursor: pointer;

    @include media-breakpoint-up(md) {
          font-size: 3rem;

     }
    @include media-breakpoint-up(lg) {


    }
    cursor: pointer;
    a{
      background-image: linear-gradient(90deg, #ff5e62, #F9D423);
      background-image: linear-gradient(90deg, rgba(255,255,255,.3), rgba(255,255,255,.3));
      background-repeat: no-repeat;
      background-position: 0 19px;
      background-size: 0% 100%;
      color:#ffffff;
      text-decoration: none;
      border:1px solid rgba(255,255,255,0);
      transition: border 500ms;
    }

    a:hover{
    /*  transition: background-size 200ms;
      transition-timing-function: ease-in;
      background-size: 100% 100%;*/
        border-bottom:1px solid rgba(255,255,255,1);


    }


  }

}





.selected {
  color: white;
  cursor: default !important;

      i{
          border-bottom: 1px solid white !important;
      }
  i{
  /*  background-image: linear-gradient(90deg, #ff5e62, #F9D423);
    background-image: linear-gradient(90deg, rgba(255,255,255,.3), rgba(255,255,255,.3));
    background-image: linear-gradient(90deg, rgba(0,0,0,.1), rgba(0,0,0,.1));


    background-repeat: no-repeat;
    background-position: 0 19px;
    background-size: 100% 100%;
    color:#ffffff;
    text-decoration: none;
    border:0px solid red;*/


  }
}
