




  .header-color{
      background-color: #FC7753;
        padding-top: 15em;
      @include media-breakpoint-up(md) {
          padding-top: 25rem;

       }
      @include media-breakpoint-up(lg) {
        padding-top: 30rem;


      }
  }

  .content-block{
    @include clearfix;

  }




.border{
  border: 1px solid green !important;
}

.color-band{



  position: absolute;
  top:0;

  background-color: #fff;
  width:100%;

}



.featured-projects{



    margin-top: -5rem;
    margin-bottom: 5rem;


    @include media-breakpoint-up(md) {

          margin-top: -8rem;
     }
    @include media-breakpoint-up(lg) {

      margin-top: -10rem;
      margin-bottom: 10rem;
    }



}


.work-casestudies{



    margin-top: -5rem;



    @include media-breakpoint-up(md) {

          margin-top: -8rem;
     }
    @include media-breakpoint-up(lg) {

      margin-top: -10rem;



    }
}
