

html{
    font-size:62.5%;
    margin: 0;
    padding: 0;


}

.container-fluid{
    border: 0px solid red;
}

body{
    font-family: "Akkurat-Light";

    background-color: $color-background !important;
    color: $body-color;
    text-rendering:geometricPrecision !important;




}


.large-copy{
  font-size: 4rem;
  color:black;
  font-family:$font-serif-bold
}

.component-margin{
    border: 0px solid red;
  margin: $component-margin-sm;
  @include media-breakpoint-up(sm) {
      margin: $component-margin-sm;
   }

  @include media-breakpoint-up(md) {
      margin: $component-margin-md;
    }




  @include media-breakpoint-up(lg) {
      margin: $component-margin-lg;

   }
  @include media-breakpoint-up(xl) {
   }

}

.component-margin-bottom{

  margin: $component-margin-sm;
    margin-top: 0;
  @include media-breakpoint-up(sm) {
      margin: $component-margin-sm;
      margin-top: 0;
   }

  @include media-breakpoint-up(md) {
      margin: $component-margin-md;
      margin-top: 0;
    }




  @include media-breakpoint-up(lg) {
      margin: $component-margin-lg;
      margin-top: 0;


   }
  @include media-breakpoint-up(xl) {
   }

}
