.section-title{
  /*      font-size: 2.4rem;
        font-family: "Akkurat-Light";

        background-position: 0 15px;
        display: inline-block;
        margin: 0 0 0 0;
        padding: 0 0 3rem 0;
        border: 1px solid red;
        @include media-breakpoint-up(md) {
            font-size: 3rem;
            background-position: 0 22px;
         }
        @include media-breakpoint-up(lg) { }
        @include media-breakpoint-up(xl) { }



          i{

            background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF);
            background-repeat: no-repeat;
            background-position: 0 20px;
            color:$body-color;
            text-decoration: none;
            border:0px solid red;
            cursor: default;

          }*/

}


.section-title{
  padding: 0 0 3rem 0;
  font-size: 2.4rem;
  font-family: "Akkurat-Light";

  
  i{

    background-image: linear-gradient(90deg, #fff, #fff);
    text-decoration: none;
    color:$body-color;
    background-position-y: bottom;
    background-repeat:no-repeat;
    background-size: 100% 10px;

    transition: background-size 300ms;

    @include media-breakpoint-up(sm) {
        background-size: 100% 12px;
    }
    @include media-breakpoint-up(lg) {

          background-size: 100% 14px;

    }
  }
}


.case-study{
  z-index: 1;
  border: 0px solid red;

  top:0;
}


.case-study-margin-wrapper{
  border: 0px solid red;
      padding:0;
  @include media-breakpoint-up(sm) {

  }

  @include media-breakpoint-up(md) {
    padding: 0 3rem 0 3rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 0;
   }

}
