@font-face {
    font-family: "Akkurat-Light";
    src:url("../fonts/akkurat/lineto-akkurat-light.eot");
    src:url("../fonts/akkurat/lineto-akkurat-light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/akkurat/lineto-akkurat-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat-Regular";
    src:url("../fonts/akkurat/lineto-akkurat-regular.eot");
    src:url("../fonts/akkurat/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/akkurat/lineto-akkurat-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat-Bold";
    src:url("../fonts/akkurat/lineto-akkurat-bold.eot");
    src:url("../fonts/akkurat/lineto-akkurat-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/akkurat/lineto-akkurat-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {


    font-family: "Tiempos-Bold";
    src:url("../fonts/tiempos/TiemposHeadlineWeb-Bold.eot");
    src:url("../fonts/tiempos/TiemposHeadlineWeb-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/tiempos/TiemposHeadlineWeb-Bold.woff2") format("woff2"),
        url("../fonts/tiempos/TiemposHeadlineWeb-Bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
}
