
.case-study-hero{



    position:relative;

      display: block;
      /*display: flex;
      align-items: flex-end;
*/

      @include media-breakpoint-up(md) {
        display: flex;
        align-items: flex-end;

      }

      @include media-breakpoint-up(lg) { }


      @include media-breakpoint-up(xl) { }
        overflow: hidden;

}


.case-study-image{
  border: 0px solid red;
  height:600px;
  position: relative;
  /*position: absolute;
  top:0;*/
  width: 100%;
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position: center center;

  transition: all 1s;


    @include media-breakpoint-up(md) {
        height: 100%;
        position: absolute;
        top:0;
    }

    @include media-breakpoint-up(lg) {



    }

    @include media-breakpoint-up(xl) {



    }


}
.case-study-header{
    position: relative;

      border:0px solid pink;
    font-family: "Akkurat-Regular";
    background-color: $color-background;
    padding:1rem 3rem 2rem 3rem;


    @include media-breakpoint-up(sm) {

     }

    @include media-breakpoint-up(md) {
        padding:2rem 3rem 0 3rem;

     }
    @include media-breakpoint-up(lg) {
        padding:6.5rem 6.5rem 0 6.5rem;
     }
    @include media-breakpoint-up(xl) {


     }

     /* wrapper around the type */


    .header-type{
      border: 0px solid red;
      padding: 0;
      margin:2rem 0 0 0;
      @include media-breakpoint-up(md) {
          margin:2rem 0 0 3rem;
       }

       @include media-breakpoint-up(lg) {
           margin:0 0 0 6.5rem;
        }

    }
        /* large type */
    h1{

        font-size: 3.4rem;
        font-family: "Tiempos-Bold";
        background-image: url("../imgs/ui/line-black-60-9.svg");
        background-repeat: no-repeat;

        background-position: bottom left;
        padding: 0 0 30px 0;
        margin: 0;

        width:90%;
        @include media-breakpoint-up(md) {
            font-size: 4rem;
            padding: 0 0 60px 0;

         }
        @include media-breakpoint-up(lg) {
          padding: 0 0 120px 0;
          font-size: 6rem;
         }
        @include media-breakpoint-up(xl) {


        }
    }

    /* all caps type */
    h4{

        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.2rem;
        border: 0px solid red;
        margin: 0 0 1.3rem 0;
        @include media-breakpoint-up(md) {

            font-size: 1.3rem;
            margin: 0 0 2rem 0;
         }
        @include media-breakpoint-up(lg) {
            font-size: 1.7rem;

         }
        @include media-breakpoint-up(xl) {


         }
    }
}
