

.large-paragraph{



      p{
        font-size: 1.8rem;
        font-family: "Akkurat-Light";
        line-height: 130%;
        margin: $component-margin-sm;



      }
      @include media-breakpoint-up(sm) {
        p{
          font-size: 2.4rem;
          margin: $component-margin-sm;
        }



       }

      @include media-breakpoint-up(md) {
        p{
          font-size: 2.4rem;
          margin: $component-margin-md;
        }



       }
      @include media-breakpoint-up(lg) {

                    p{
                      font-size: 3rem;
                      margin: $component-margin-md;
                    }

       }
      @include media-breakpoint-up(xl) {


       }


}
