.large-image{

    margin:0;
    padding: 0;
    position: relative;

  .image{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-size:100% auto;
    background-position:"center center";
    background-repeat:no-repeat;

    img{

      width: 100%;
    }
  }

}
