

.menu{

    padding:30px 25px 25px 25px;
    transition: padding 500ms;
    z-index: 100;
    position: absolute;
    width: 100%;
    top:0;
    border: 0px solid green;
    margin:0;
    @include media-breakpoint-up(sm) {

     }

    @include media-breakpoint-up(md) {

      }




    @include media-breakpoint-up(lg) {
        padding: 50px;
     }
    @include media-breakpoint-up(xl) {
     }

}
.case-study-logo{
  border: 0px solid red;
    float: left;
    width:140px;
    transition: width 500ms;
    padding-top: 0px;
    img{
      border: 0px solid red;
      width:100%;
    }

    @include media-breakpoint-up(md) {
          width: 160px;
      }


}
