.research{

  .section-title{
   width:50%;
  }
}

.stats{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.research-data{
  transition: all 500ms;

  width:100%;
  margin-right: 0px;
  p{
      font-size:1.7rem;
        border:0px solid red;
  }

  border-top:2px solid $color-blue;
  margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      border-top:4px solid $color-blue;
      width:195px;

      margin-right: 25px;
     }
    @include media-breakpoint-up(lg) { }
    @include media-breakpoint-up(xl) { }
}

h2.research-number{

    color: $color-blue;
    font-size:3rem;
    transition: font-size 500ms;
    background-image: none;
    font-family: "Akkurat-Regular";
    margin:0;
    padding:10px 0 0 0;

    border:0px solid red;
    @include media-breakpoint-up(md) {





        font-size:4.8rem;
     }
    @include media-breakpoint-up(lg) { }
    @include media-breakpoint-up(xl) { }



}
