




$color-blue: #00A9D2;
$color-background: #EEEEEC;
$color-box: #FFFFFF;
$color-light-gray: #CECFCA;
$color-blue:#6B9ADB;
$color-link:$color-blue;
$color-red: #FC7164;
/*$color-background: #f9f9f9;*/


$color-footer-link: #000;
$body-color:#000;
$font-serif-bold:"Tiempos-Bold";
